<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Page Settings</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="container">
    <form #f="ngForm" (submit)="addNewPage(f)">
      <!-- <input
        name="PageId"
        type="hidden"
        #PageId="ngModel"
        [(ngModel)]="customPageService.pageFormData"
      /> -->

      <label>Page Description</label>
      <div class="input-group-append"></div>
      <input
        name="PageDescription"
        placeholder="Enter Page Name here."
        type="text"
        #PageId="ngModel"
        [(ngModel)]="customPageService.pageFormData"
      />
    </form>
  </div>
  <div class="container">
    <div *ngFor="let page of this.customPageService.customPageArray">
      <form #form="ngForm" (submit)="addNewPage(form)">
        <div class="input-group"></div>

        <!-- Page Id -->

        <input
          name="PageId"
          type="hidden"
          #TextId="ngModel"
          [(ngModel)]="page.PageId"
        />

        <!-- Page Description -->

        <input
          name="PageDescription"
          type="text"
          #TextId="ngModel"
          [(ngModel)]="page.PageDescription"
        />
        <div class="input-group-append"></div>

        <!-- --------------------------------------------------------------------------- -->
      </form>
      <button class="btn-danger" (click)="deletePage(page.PageId)">
        Delete
      </button>
    </div>
  </div>
</ng-template>

<!-- <div>
    <form #f="ngForm" (submit)="customPageComponent.submitNewTextData(f)">
      <input
        name="TextBody"
        placeholder="Enter Text Here"
        type="text"
        #TextBody="ngModel"
        [(ngModel)]="webContentService.formData"
      />
      <input
        type="hidden"
        name="PageId"
        #PageId="ngModel"
        [(ngModel)]="customPageComponent.pageIdSnapshot"
      />
    </form>
  </div> -->

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Add New Page
</button>

<hr />

<pre>{{ closeResult }}</pre>
