<p style="color: #27293d">grid-child works!</p>
<h1 style="color: #27293d">This would be the page display (PARENT)</h1>

<!-- this is where the button would be pressed to add a row -->

Name:
<input
  type="text"
  id="userInput"
  name="userInput"
  [(ngModel)]="inputName"
  value="Joe"
/>

<button>Add Row</button>

<!-- <app-grid-child [row]="addRow()" [bindName]="inputName"></app-grid-child> -->
<div class="container-fluid">
  <div *ngFor="let item of items" [ngClass]="item"></div>
</div>

<app-grid-child (newItemEvent)="addItem($event)"></app-grid-child>
