<div class="grid-container">
  <!-- text Button trigger modal -->
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary text-button"
    data-toggle="modal"
    data-target="#textModal"
    (click)="passColumnId(this.columnId)"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-card-text"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
      />
      <path
        fill-rule="evenodd"
        d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"
      />
    </svg>
    Add Text
  </button>

  <!-- image Button trigger modal -->
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary image-button"
    data-toggle="modal"
    data-target="#imageModal"
    (click)="passColumnId(this.columnId)"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-file-image"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V2a1 1 0 0 0-1-1H4z"
      />
      <path
        fill-rule="evenodd"
        d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
      />
    </svg>
    Add Image
  </button>

  <!--Image Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Image dimensions Modal -->
          <div
            class="modal fade"
            id="dimensionsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dimensionsModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="dimensionsModalLabel">
                    Modal title
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Text body input form -->
                  <div class="card">
                    <div class="card-body">
                      <form
                        [formGroup]="imageUrlFormTemplate"
                        class="form-inline"
                        (submit)="
                          submitImageUrlData(imageUrlFormTemplate.value)
                        "
                      >
                        <div class="form-group">
                          <input
                            name="height"
                            class="form-control-lg form-group"
                            placeholder="Height"
                            type="text"
                            formControlName="height"
                          />

                          <div class="form-group">
                            <input
                              name="width"
                              class="form-control-lg form-group"
                              placeholder="Width"
                              type="text"
                              formControlName="width"
                            />

                            <input
                              type="hidden"
                              name="PageId"
                              formControlName="pageId"
                            />
                          </div>
                          <input
                            type="hidden"
                            name="PageId"
                            formControlName="pageId"
                          />
                          <input
                            type="hidden"
                            name="ColumnId"
                            formControlName="columnId"
                          />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    (click)="submitImageUrlData(imageUrlFormTemplate.value)"
                    class="btn btn-primary"
                    data-dismiss="modal"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- New Upload File Form -->
          <div class="card" style="width: 25rem">
            <div class="card-body">
              <form
                [formGroup]="formTemplate"
                (submit)="onSubmit(formTemplate.value)"
              >
                <div class="text-center">
                  <img
                    [src]="imgSrc"
                    width="350px"
                    height="350px"
                    (click)="fileUploader.click()"
                  />
                </div>
                <div class="form-group">
                  <label class="label">Select file to upload.</label>
                  <input
                    type="file"
                    accept="image/*"
                    class="form-control-file"
                    #fileUploader
                    formControlName="imageUrl"
                    (change)="showPreview($event)"
                  />
                  <div
                    class="text-danger"
                    *ngIf="
                      isSubmitted && formControls.imageUrl.errors?.required
                    "
                  >
                    This field is required.
                  </div>
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="hidden"
                    formControlName="pageId"
                  />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success float-right">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Image Url input form -->
          <div class="card">
            <div class="card-body">
              <form
                [formGroup]="imageUrlFormTemplate"
                class="form-inline"
                (submit)="submitImageUrlData(imageUrlFormTemplate.value)"
              >
                <div class="form-group">
                  <input
                    name="imageUrl"
                    class="form-control-lg form-group"
                    placeholder="Add Url Here"
                    type="text"
                    formControlName="imageUrl"
                  />

                  <input type="hidden" name="PageId" formControlName="pageId" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            data-toggle="modal"
            data-target="#dimensionsModal"
            type="button"
            class="btn btn-primary"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Text Modal -->
  <div
    class="modal fade"
    id="textModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="textModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="textModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Text body input form -->
          <div class="card">
            <div class="card-body">
              <form
                [formGroup]="textFormTemplate"
                class="form-inline"
                (submit)="submitNewTextData(textFormTemplate.value)"
              >
                <div class="form-group">
                  <input
                    name="TextBody"
                    class="form-control-lg form-group"
                    placeholder="Add Text Here"
                    type="text"
                    formControlName="TextBody"
                  />
                  <input type="hidden" name="PageId" formControlName="pageId" />
                  <input
                    type="hidden"
                    name="ColumnId"
                    formControlName="columnId"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            (click)="submitNewTextData(textFormTemplate.value)"
            class="btn btn-primary"
            data-dismiss="modal"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Audio Modal Button -->

  <button
    type="button"
    class="btn btn-sm btn-outline-secondary embed-button"
    data-toggle="modal"
    data-target="#audioModal"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-soundwave"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"
      />
    </svg>
    Add Audio
  </button>

  <!-- Audio Modal -->
  <div
    class="modal fade"
    id="audioModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="audioModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="audioModalLabel">Audio</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Audio html

          <!-- upload audio modal form -->

          <div class="card" style="width: 25rem">
            <div class="card-body">
              <form
                [formGroup]="audioUploadFormTemplate"
                (submit)="onAudioSubmit(formTemplate.value)"
              >
                <div class="text-center"></div>
                <div class="form-group">
                  <label class="label">Select audio to upload.</label>
                  <input
                    type="file"
                    accept="audio/*"
                    class="form-control-file"
                    #audioUploader
                    formControlName="AudioUrl"
                    (change)="showAudioPreview($event)"
                  />
                  <div class="text-danger" *ngIf="isAudioSubmitted">
                    This field is required.
                  </div>
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="hidden"
                    formControlName="pageId"
                  />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success float-right">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- Audio input form -->
          <div class="card">
            <div class="card-body">
              <form
                [formGroup]="audioFormTemplate"
                class="form-inline"
                (submit)="submitAudioData(audioFormTemplate.value)"
              >
                <div class="form-group">
                  <input
                    name="audioUrl"
                    class="form-control-lg form-group"
                    placeholder="Add Audio Here"
                    type="text"
                    formControlName="audioUrl"
                  />
                  <input type="hidden" name="PageId" formControlName="pageId" />

                  <input
                    type="hidden"
                    name="backgroundColor"
                    formControlName="backgroundColor"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- embed Button trigger modal -->
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary embed-button"
    data-toggle="modal"
    data-target="#embedModal"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-camera-video"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"
      />
    </svg>
    Add Video
  </button>

  <!-- Embed Modal -->
  <div
    class="modal fade"
    id="embedModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="embedModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="embedModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Embed Url input form -->
          <div class="card">
            <div class="card-body">
              <form
                [formGroup]="embedUrlFormTemplate"
                class="form-inline"
                (submit)="submitEmbedUrlData(embedUrlFormTemplate.value)"
              >
                <div class="form-group">
                  <input
                    name="embedUrl"
                    class="form-control-lg form-group"
                    placeholder="Add Embed Here"
                    type="text"
                    formControlName="embedUrl"
                  />
                  <input type="hidden" name="PageId" formControlName="pageId" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Google Map button -->

  <button
    type="button"
    class="btn btn-sm btn-outline-secondary map-button"
    data-toggle="modal"
    data-target="#mapModal"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-geo-alt"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
      />
      <path
        fill-rule="evenodd"
        d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
      />
    </svg>
    Add Map
  </button>

  <!-- Map Modal -->
  <div
    class="modal fade"
    id="mapModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mapModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModalLabel">Map</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="mapFormTemplate"
            class="form-inline"
            (submit)="onMapSubmit(mapFormTemplate.value)"
          >
            <div class="form-group">
              <input
                name="MapUrl"
                class="form-control-lg form-group"
                placeholder="Search location here"
                type="text"
                formControlName="MapUrl"
              />
              <input type="hidden" name="PageId" formControlName="pageId" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            (click)="onMapSubmit(mapFormTemplate.value)"
            type="button"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
