<div class="body">
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div *ngFor="let item of customPageService.customPageArray">
      <h1>Page Description: {{ item.PageDescription }}</h1>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- <a class="nav-link" routerLink="/home" href="#"
            >Home <span class="sr-only">(current)</span></a
          > -->
        </li>
        <!-- <div (click)="onClick(page.pageId)"> -->
        <div class="row">
          <!-- <div
            [style.background-image]="'url(' + photo + ')' | safe"
            style="
              width: 200px;
              height: 50px;
              background-size: 50%;
              background-repeat: no-repeat;
              background-position: center;
            "
          ></div> -->

          <!-- OMG IT WORKS!@!!!! -->
          <div
            [style.background-image]="'url(' + photo + ')' | safe"
            [ngStyle]="logoStyling"
          ></div>
          <!-- ---------------------------------- -->

          <li
            class="nav-item"
            *ngFor="let page of customPageService.customPageArray"
            (click)="onClick(page.PageId, page.PageDescription)"
          >
            <a
              class="nav-link"
              [ngStyle]="navFontStyling"
              routerLink="/{{ page.pageId }}"
              href="#"
              >{{ page.PageDescription }}</a
            >
            <h2>{{ page.pageId }}</h2>
          </li>
        </div>

        <!-- </div> -->

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
