<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<div *ngFor="let setting of navBarService.navBarArray">
  <div
    class="topnav"
    id="myTopnav"
    [ngStyle]="{
      backgroundColor: setting.NavBarBgColor,
      color: setting.NavBarFontColor,
      position: setting.NavBarPosition,
      opacity: setting.NavBarOpacity
    }"
  >
    <div *ngFor="let page of customPageService.customPageArray" class="links">
      <a
        (click)="getPageByIdOnClick(page.PageId, page.PageDescription)"
        class="dropbtn nav-link"
        >{{ page.PageDescription }}</a
      >
    </div>
  </div>
</div>
<div class="topnav">
  <a class="icon" (click)="openMobileNav()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!-- ----------------------MY CODE------------------------->

<div class="body">
  <div *ngFor="let setting of navBarService.navBarArray">
    <nav
      class="navbar navbar-expand-lg"
      [ngStyle]="{
        backgroundColor: setting.NavBarBgColor,
        color: setting.NavBarFontColor,
        position: setting.NavBarPosition,
        opacity: setting.NavBarOpacity
      }"
    >
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <div class="row">
            <img
              src="{{ setting.LogoUrl }}"
              [ngStyle]="{
                width: setting.LogoWidth,
                height: setting.LogoHeight
              }"
            />

            <li
              class="nav-item dropdown"
              *ngFor="let page of customPageService.customPageArray"
            >
              <div (click)="onClick(page.PageId, page.PageDescription)">
                <a
                  (mouseover)="
                    getPageByIdOnHover(page.PageId, page.PageDescription)
                  "
                  class="dropbtn nav-link"
                  >{{ page.PageDescription }}</a
                >
              </div>
              <div class="dropdown">
                <div class="dropdown-content">
                  <div *ngFor="let subPage of this.SubPageLocalStorage">
                    <a
                      (click)="
                        navToSubPage(
                          subPage.SubPageId,
                          subPage.SubPageDescription
                        )
                      "
                      >{{ subPage.SubPageDescription }}</a
                    >
                  </div>
                </div>
              </div>
            </li>

            <div class="dropdown">
              <a class="dropbtn nav-link"></a>
              <div class="dropdown-content">
                <div *ngFor="let subPage of subPageService.subPageArray">
                  <a href="#">{{ subPage.SubPageDescription }}</a>
                </div>
              </div>
            </div>

            <div *ngIf="logoIsRight">
              <div
                [style.background-image]="'url(' + setting.LogoUrl + ')' | safe"
                [ngStyle]="logoStyling"
              ></div>
            </div>
          </div>
        </ul>
      </div>

      <div *ngFor="let user of this.currentUserArray">
        <div *ngIf="this.hasCookieToken == true">
          <div *ngIf="user.IsLoggedIn" style="text-align: center">
            Hello {{ user.UserName }}!
            <div>
              <div>
                <button
                  class="btn btn-light btn-sm mb-3"
                  (click)="openPageSettings()"
                >
                  Dashboard
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let user of this.currentUserArray">
        <div *ngIf="this.hasCookieToken == true">
          <div *ngIf="user.IsLoggedIn">
            <div *ngFor="let data of this.userService.loggedInUserArray">
              <a
                routerLink="/portal"
                class="btn btn-light btn-sm mb-3"
                (click)="Logout(data)"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
