<div class="row">
  <div
    *ngFor="let column of this.newColumnList"
    [ngClass]="column.ColumnClass"
    style="height: 100%"
  >
    <div *ngIf="column.RowId == this.rowId">
      <app-content-view [columnId]="column.ColumnId"></app-content-view>
    </div>
  </div>
</div>

<!-- <div *ngIf="isDesktop()">
  <div class="row">
    <div
      *ngFor="let column of this.newColumnList"
      [ngClass]="column.ColumnClass"
      style="height: 100%"
    >
      <div *ngIf="column.RowId == this.rowId">
        <app-content-view [columnId]="column.ColumnId"></app-content-view>
      </div>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="isMobile()">
  <div class="row">
    <div
      *ngFor="let column of this.newColumnList"
      [ngClass]="column.ColumnClassMobile"
      style="height: 100%"
    >
      <div *ngIf="column.RowId == this.rowId">
        <app-content-view [columnId]="column.ColumnId"></app-content-view>
      </div>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="isTablet()">
  <div class="row">
    <div
      *ngFor="let column of this.newColumnList"
      [ngClass]="column.ColumnClassTablet"
      style="height: 100%"
    >
      <div *ngIf="column.RowId == this.rowId">
        <app-content-view [columnId]="column.ColumnId"></app-content-view>
      </div>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="isLaptop()">
  <div class="row">
    <div
      *ngFor="let column of this.newColumnList"
      [ngClass]="column.ColumnClassLaptop"
      style="height: 100%"
    >
      <div *ngIf="column.RowId == this.rowId">
        <app-content-view [columnId]="column.ColumnId"></app-content-view>
      </div>
    </div>
  </div>
</div> -->

<!-- If(isMobile()) ? [ngClass]="column.ColumnClassMobile" -->
