<ng-template ngFor let-content [ngForOf]="this.newContentList">
  <div *ngIf="content.ColumnId == this.columnId">
    <!-- Audio -->
    <div
      *ngIf="content.AudioUrl != null"
      [style.background-color]="content.backgroundColor"
    >
      <audio
        id="player"
        [src]="setAudioUrl(content.AudioUrl)"
        controls
        type="audio/mp3"
        [ngStyle]="{
          backgroundAttachment: content.backgroundAttachment,
          backgroundRepeat: content.backgroundRepeat,
          background: 'linear-gradient' + content.background,
          backgroundSize: content.backgroundSize,
          position: content.position,
          opacity: content.opacity,
          backgroundPosition: content.backgroundPosition,
          resize: 'both',
          overflow: 'auto',
          height: content.height,
          width: 'content.width',
          objectFit: 'cover',
          zIndex: content.zIndex,
          transform: content.transform
        }"
      >
        Walking through sand
      </audio>
    </div>

    <!-- Hero Image Full size

    <div *ngIf="this.screenWidth >= 1900">
      <div
        id="image-resize"
        class="heroImage responsive"
        *ngIf="content.backgroundImage != null"
        [style.background-image]="'url(' + content.backgroundImage + ')' | safe"
        [ngStyle]="{
          float: 'left',
          backgroundAttachment: content.backgroundAttachment,
          backgroundRepeat: content.backgroundRepeat,
          background: 'linear-gradient' + content.background,
          backgroundSize: content.backgroundSize,
          position: content.position,
          opacity: content.opacity,
          backgroundPosition: content.backgroundPosition,
          resize: 'both',
          overflow: 'auto',
          height: '1000px',
          width: '2000px',
          objectFit: 'cover',
          zIndex: content.zIndex,
          transform: content.transform
        }"
      >
        <!-- <h1 style="text-align: center">fullsize</h1> -->
    <!-- </div>
    </div> -->

    <!-- Hero Image 400px-->

    <!-- <div *ngIf="this.screenWidth >= 0 && this.screenWidth <= 400"></div> -->
    <div *ngIf="content.backgroundImage != null">
      <img
        class="responsive"
        src="{{ content.backgroundImage }}"
        [ngStyle]="{
          backgroundAttachment: content.backgroundAttachment,
          backgroundRepeat: 'no-repeat',
          backgroundSize: content.backgroundSize,
          position: content.position,
          opacity: content.opacity,
          backgroundPosition: content.backgroundPosition,
          display: content.display,
          marginLeft: content.marginLeft,
          marginRight: content.marginRight,
          textAlign: 'center',
          resize: 'both',
          overflow: 'auto',
          height: content.height,
          width: this.screenWidth,
          objectFit: 'cover',
          zIndex: content.zIndex,
          transform: content.transform
        }"
      />
    </div>

    <!-- Gallery Image -->
    <div *ngIf="content.ImageUrl != null">
      <img
        class="responsive"
        src="{{ content.ImageUrl }}"
        [ngStyle]="{
          backgroundAttachment: content.backgroundAttachment,
          backgroundRepeat: 'no-repeat',
          backgroundSize: content.backgroundSize,
          position: content.position,
          opacity: content.opacity,
          backgroundPosition: content.backgroundPosition,
          display: content.display,
          marginLeft: content.marginLeft,
          marginRight: content.marginRight,
          textAlign: 'center',
          resize: 'both',
          overflow: 'auto',
          height: content.height + 'px',
          width: content.width + 'px',
          objectFit: 'cover',
          zIndex: content.zIndex,
          transform: content.transform
        }"
      />
    </div>

    <!-- Image -->

    <!-- Text -->
    <div *ngIf="content.TextBody != null">
      <div *ngIf="this.screenWidth >= 801">
        <div [ngStyle]="{}">
          <h1
            class="customText"
            [ngStyle]="{
              fontSize: content.fontSize,
              color: content.color,
              backgroundAttachment: content.backgroundAttachment,
              backgroundClip: content.backgroundClip,

              backgroundOrigin: content.backgroundOrigin,
              backgroundPosition: content.backgroundPosition,
              backgroundRepeat: content.backgroundRepeat,
              backgroundSize: content.backgroundSize,
              background: content.background,
              border: content.border,
              borderBottom: content.borderBottom,
              borderBottomColor: content.borderBottomColor,
              borderBottomLeftRadius: content.borderBottomLeftRadius,
              borderBottomRightRadius: content.borderBottomRightRadius,
              borderBottomStyle: content.borderBottomStyle,
              borderBottomWidth: content.borderBottomWidth,
              borderColor: content.borderColor,
              borderImage: content.borderImage,
              borderImageOutset: content.borderImageOutset,
              borderImageRepeat: content.borderImageRepeat,
              borderImageSlice: content.borderImageSlice,
              borderImageSource: content.borderImageSource,
              borderImageWidth: content.borderImageWidth,
              borderLeft: content.borderLeft,
              borderLeftColor: content.borderLeftColor,
              borderLeftStyle: content.borderLeftStyle,
              borderLeftWidth: content.borderLeftWidth,
              borderStyle: content.borderStyle,
              borderTop: content.borderTop,
              borderTopColor: content.borderTopColor,
              borderTopLeftRadius: content.borderTopLeftRadius,
              borderTopRightRadius: content.borderTopRightRadius,
              borderTopStyle: content.borderTopStyle,
              borderTopWidth: content.borderTopWidth,
              borderWidth: content.borderWidth,
              boxShadow: content.boxShadow,
              animation: content.animation,
              textAlign: content.textAlign,
              paddingTop: content.paddingTop,
              paddingBottom: content.paddingBottom,
              paddingLeft: content.paddingLeft,
              paddingRight: content.paddingRight,
              marginTop: content.marginTop,
              marginBottom: content.marginBottom,
              marginLeft: content.marginLeft,
              marginRight: content.marginRight,
              lineHeight: content.lineHeight,
              fontFamily: content.fontFamily,
              clear: content.clear,
              clip: content.clip,
              cursor: content.cursor,
              fontVariant: content.fontVariant,
              fontWeight: content.fontWieght,
              height: content.height,
              left: content.left,
              letterSpacing: content.letterSpacing,
              listStyle: content.listStyle,
              listStyleImage: content.listStyleImage,
              listStyleType: content.listStyleType,
              margin: content.margin,
              pageBreakAfter: content.pageBreakAfter,
              pageBreakBefore: content.pageBreakBefore,
              position: content.position,
              strokeDasharray: content.strokeDasharray,
              strokeDashoffset: content.strokeDashoffset,
              strokeWidth: content.strokeWidth,
              textDecoration: content.textDecoration,
              textIndent: content.textIndent,
              textTransform: content.textTransform,
              top: content.top,
              right: content.right,
              bottom: content.bottom,
              verticalAlign: content.verticalAlign,
              visibility: content.visibility,
              width: content.width,
              zIndex: content.zIndex,
              display: content.display,
              cssFloat: content.cssFloat,
              filter: content.filter,
              backgroundColor: content.backgroundColor,
              lineBreak: content.lineBreak,
              opacity: content.opacity,
              outline: content.outline,
              outlineColor: content.outlineColor,
              outlineOffset: content.outlineOffset,
              outlineWidth: content.outlineWidth,
              padding: content.padding,
              paddingBlock: content.paddingBlock,
              paddingBlockEnd: content.paddingBlockEnd,
              paddingBlockStart: content.paddingBlockStart,
              paddingInLineEnd: content.paddingInLineEnd,
              paddingInLineStart: content.paddingInLineStart,
              pageBreakInside: content.pageBreakInside,
              rotate: content.rotate,
              textAlignLast: content.textAlignLast,
              textCombineUpright: content.textCombineUpright,
              textDecorationColor: content.textDecorationColor,
              textDecorationLine: content.textDecorationLine,
              textDecorationSkipInk: content.textDecorationSkipInk,
              textDecorationStyle: content.textDecorationStyle,
              textDecorationThickness: content.textDecorationThickness,
              textEmphasis: content.textEmphasis,
              textEmphasisColor: content.textEmphasisColor,
              textEmphasisPosition: content.textEmphasisPosition,
              textEmphasisStyle: content.textEmphasisStyle,
              textJustify: content.textJustify,
              textOrientation: content.textOrientation,
              textRendering: content.textRendering,
              textShadow: content.textShadow,
              textUnderLineOffset: content.textUnderLineOffSet,
              textUnderLinePosition: content.textUnderLinePosition,
              transformBox: content.transformBox,
              transformOrigin: content.transformOrigin,
              transition: content.transition,
              transitionDelay: content.transitionDelay,
              transitionDuration: content.transitionDuration,
              transitionProperty: content.transitionProperty,
              transitionTimingFunction: content.transitionTimingFunction,
              translate: content.translate,
              whiteSpace: content.whiteSpace,
              wordBreak: content.wordBreak,
              wordSpacing: content.wordSpacing,
              wordWrap: content.wordWrap,
              flex: content.flex,
              alignContent: content.alignContent,
              alignItems: content.alignItems,
              alignSelf: content.alignSelf
            }"
          >
            {{ content.TextBody }}
          </h1>
        </div>
      </div>
    </div>

    <!-- Text MOBILE -->
    <div *ngIf="content.TextBody != null">
      <div *ngIf="this.screenWidth <= 800">
        <div [ngStyle]="{}">
          <h1
            class="customText"
            [ngStyle]="{
              color: content.color,
              backgroundAttachment: content.backgroundAttachment,
              backgroundClip: content.backgroundClip,

              backgroundOrigin: content.backgroundOrigin,
              backgroundPosition: content.backgroundPosition,
              backgroundRepeat: content.backgroundRepeat,
              backgroundSize: content.backgroundSize,
              background: content.background,
              border: content.border,
              borderBottom: content.borderBottom,
              borderBottomColor: content.borderBottomColor,
              borderBottomLeftRadius: content.borderBottomLeftRadius,
              borderBottomRightRadius: content.borderBottomRightRadius,
              borderBottomStyle: content.borderBottomStyle,
              borderBottomWidth: content.borderBottomWidth,
              borderColor: content.borderColor,
              borderImage: content.borderImage,
              borderImageOutset: content.borderImageOutset,
              borderImageRepeat: content.borderImageRepeat,
              borderImageSlice: content.borderImageSlice,
              borderImageSource: content.borderImageSource,
              borderImageWidth: content.borderImageWidth,
              borderLeft: content.borderLeft,
              borderLeftColor: content.borderLeftColor,
              borderLeftStyle: content.borderLeftStyle,
              borderLeftWidth: content.borderLeftWidth,
              borderStyle: content.borderStyle,
              borderTop: content.borderTop,
              borderTopColor: content.borderTopColor,
              borderTopLeftRadius: content.borderTopLeftRadius,
              borderTopRightRadius: content.borderTopRightRadius,
              borderTopStyle: content.borderTopStyle,
              borderTopWidth: content.borderTopWidth,
              borderWidth: content.borderWidth,
              boxShadow: content.boxShadow,
              animation: content.animation,
              textAlign: content.textAlign,
              paddingTop: content.paddingTop,
              paddingBottom: content.paddingBottom,
              paddingLeft: content.paddingLeft,
              paddingRight: content.paddingRight,
              marginTop: content.marginTop,
              marginBottom: content.marginBottom,
              marginLeft: content.marginLeft,
              marginRight: content.marginRight,
              lineHeight: content.lineHeight,
              fontFamily: content.fontFamily,
              clear: content.clear,
              clip: content.clip,
              cursor: content.cursor,
              fontVariant: content.fontVariant,
              fontWeight: content.fontWieght,
              height: content.height,
              left: content.left,

              listStyle: content.listStyle,
              listStyleImage: content.listStyleImage,
              listStyleType: content.listStyleType,
              margin: content.margin,
              pageBreakAfter: content.pageBreakAfter,
              pageBreakBefore: content.pageBreakBefore,
              position: content.position,
              strokeDasharray: content.strokeDasharray,
              strokeDashoffset: content.strokeDashoffset,
              strokeWidth: content.strokeWidth,
              textDecoration: content.textDecoration,
              textIndent: content.textIndent,
              textTransform: content.textTransform,
              top: content.top,
              right: content.right,
              bottom: content.bottom,
              verticalAlign: content.verticalAlign,
              visibility: content.visibility,
              width: content.width,
              zIndex: content.zIndex,
              display: content.display,
              cssFloat: content.cssFloat,
              filter: content.filter,
              backgroundColor: content.backgroundColor,
              lineBreak: content.lineBreak,
              opacity: content.opacity,
              outline: content.outline,
              outlineColor: content.outlineColor,
              outlineOffset: content.outlineOffset,
              outlineWidth: content.outlineWidth,
              padding: content.padding,
              paddingBlock: content.paddingBlock,
              paddingBlockEnd: content.paddingBlockEnd,
              paddingBlockStart: content.paddingBlockStart,
              paddingInLineEnd: content.paddingInLineEnd,
              paddingInLineStart: content.paddingInLineStart,
              pageBreakInside: content.pageBreakInside,
              rotate: content.rotate,
              textAlignLast: content.textAlignLast,
              textCombineUpright: content.textCombineUpright,
              textDecorationColor: content.textDecorationColor,
              textDecorationLine: content.textDecorationLine,
              textDecorationSkipInk: content.textDecorationSkipInk,
              textDecorationStyle: content.textDecorationStyle,
              textDecorationThickness: content.textDecorationThickness,
              textEmphasis: content.textEmphasis,
              textEmphasisColor: content.textEmphasisColor,
              textEmphasisPosition: content.textEmphasisPosition,
              textEmphasisStyle: content.textEmphasisStyle,
              textJustify: content.textJustify,
              textOrientation: content.textOrientation,
              textRendering: content.textRendering,
              textShadow: content.textShadow,
              textUnderLineOffset: content.textUnderLineOffSet,
              textUnderLinePosition: content.textUnderLinePosition,
              transformBox: content.transformBox,
              transformOrigin: content.transformOrigin,
              transition: content.transition,
              transitionDelay: content.transitionDelay,
              transitionDuration: content.transitionDuration,
              transitionProperty: content.transitionProperty,
              transitionTimingFunction: content.transitionTimingFunction,
              translate: content.translate,
              whiteSpace: content.whiteSpace,
              wordBreak: content.wordBreak,
              wordSpacing: content.wordSpacing,
              wordWrap: content.wordWrap,
              flex: content.flex,
              alignContent: content.alignContent,
              alignItems: content.alignItems,
              alignSelf: content.alignSelf
            }"
          >
            {{ content.TextBody }}
          </h1>
        </div>
      </div>
    </div>

    <!-- Youtube videos -->
    <div>
      <div *ngIf="content.embedUrl != null">
        <iframe
          width="420"
          height="315"
          [src]="setYouTubeEmbed(content.embedUrl)"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          [ngStyle]="{
            backgroundAttachment: content.backgroundAttachment,
            backgroundRepeat: content.backgroundRepeat,
            background: 'linear-gradient' + content.background,
            backgroundSize: content.backgroundSize,
            position: content.position,
            opacity: content.opacity,
            backgroundPosition: content.backgroundPosition,
            resize: 'both',
            overflow: 'auto',
            height: content.height,
            width: 'content.width',
            objectFit: 'cover',
            zIndex: content.zIndex,
            transform: content.transform
          }"
        >
        </iframe>
      </div>
      <!-- Google Maps -->
      <div *ngIf="content.MapUrl != null">
        <div class="row">
          <iframe
            width="900"
            height="500"
            frameborder="0"
            style="border: 0"
            [src]="createMapLink(content.MapUrl)"
            allowfullscreen
            [ngStyle]="{
              backgroundAttachment: content.backgroundAttachment,
              backgroundRepeat: content.backgroundRepeat,
              background: 'linear-gradient' + content.background,
              backgroundSize: content.backgroundSize,
              position: content.position,
              opacity: content.opacity,
              backgroundPosition: content.backgroundPosition,
              resize: 'both',
              overflow: 'auto',
              height: content.height,
              width: 'content.width',
              objectFit: 'cover',
              zIndex: content.zIndex,
              transform: content.transform
            }"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</ng-template>
