body {
  background-color: #f4faf4;
}

.error-heading {
  color: #222222;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  padding-top: 75px;
}

.error-paragraph {
  color: #222222;
  font-size: 50px;

  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.description {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}

.magicwordgif {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
