
    <div class="container">
      <form #f="ngForm" (submit)="addNewPage(f)">
        <label>Page Description</label>
        <div class="input-group-append"></div>
        <input
          class="form-control-lg form-group"
          name="PageDescription"
          placeholder="Enter Page Name here."
          type="text"
          #PageId="ngModel"
          [(ngModel)]="customPageService.pageFormData"
        />
      </form>
    </div>
    <div class="container">
      <div *ngFor="let page of this.customPageService.customPageArray">
        <form #form="ngForm" (submit)="addNewPage(form)">
          <div class="input-group"></div>
  
          <!-- Page Id -->
  
          <input
            name="PageId"
            type="hidden"
            #TextId="ngModel"
            [(ngModel)]="page.PageId"
          />
  
          <!-- Page Description -->
  
          <input
            name="PageDescription"
            type="text"
            class="form-control col-sm-9"
            #TextId="ngModel"
            [(ngModel)]="page.PageDescription"
          />
  
          <!-- --------------------------------------------------------------------------- -->
        </form>
        <button
          class="btn btn-danger btn-sm float-right col-sm-3"
          (click)="deleteDialogue(page.PageId, page.PageDescription)"
        >
          Delete
        </button>
  
        <button class="btn btn-info btn-sm float-right col-sm-3" (click)="getSubPages()">Add Sub Page</button>
  
        <!-- <button
        class="btn btn-danger float-right"
        (click)="deleteDialogue(text.Id)"
      >
        Delete
      </button> -->
      </div>
    </div>
  
