<button
      class="btn btn-success btn-sm mb-3"
      (click)="openPageSettings()"
    >
      Page Settings
    </button>


  <!-- New Upload File Form -->
  <div class="card" style="width: 25rem">
    <div class="card-body">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="text-center">
          <img
            [src]="imgSrc"
            width="350px"
            height="350px"
            (click)="fileUploader.click()"
          />
        </div>
        <div class="form-group">
          <label>Select file to upload.</label>
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            #fileUploader
            formControlName="imageUrl"
            (change)="showPreview($event)"
          />
          <div
            class="text-danger"
            *ngIf="isSubmitted && formControls.imageUrl.errors?.required"
          >
            This field is required.
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="hidden" formControlName="pageId" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success float-right">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>



      <!-- Text body input form -->
      <div class="card">
          <div class="card-body">
              
              <form
              [formGroup]="textFormTemplate"
              class="form-inline"
              (submit)="submitNewTextData(textFormTemplate.value)"
              >
        <div class="form-group">
            <input
            name="TextBody"
            class="form-control-lg form-group"
            placeholder="Add Text Here"
            type="text"
            formControlName="TextBody"
          
            
            />
            <input
            type="hidden"
            name="PageId"
            formControlName="pageId"
            
            />
        </div>
    </form>
</div>
</div>


  <div class="card">
    <div class="card-body">

      <form
        [formGroup]="imageUrlFormTemplate"
        class="form-inline"
        (submit)="submitImageUrlData(imageUrlFormTemplate.value)"
      >
        <div class="form-group">
          <input
            name="imageUrl"
            class="form-control-lg form-group"
            placeholder="Add Url Here"
            type="text"
            formControlName="imageUrl"
          
          />
          <input
            type="hidden"
            name="PageId"
            formControlName="pageId"
     
          />
        </div>
      </form>
    </div>
  </div>

  <!-- Embed Url input form -->
 <div class="card">
    <div class="card-body">

      <form
        [formGroup]="embedUrlFormTemplate"
        class="form-inline"
        (submit)="submitEmbedUrlData(embedUrlFormTemplate.value)"
      >
        <div class="form-group">
          <input
            name="embedUrl"
            class="form-control-lg form-group"
            placeholder="Add Embed Here"
            type="text"
            formControlName="embedUrl"
          
          />
          <input
            type="hidden"
            name="PageId"
            formControlName="pageId"
     
          />
        </div>
      </form>
    </div>
  </div>


  <!-- Existing content display forms -->
  <div
      *ngFor="let text of this.webContentService.webContentArray; let i = index"
    >
      <div class="input-group"></div>
      <div class="modal-body form-group">
        <form
          #form="ngForm"
          (submit)="onContentSubmit()"
          id="myForm"
        >

        <div>
            <button
            class="btn btn-danger float-right"
            (click)="deleteDialogue(text.Id)"
          >
            Delete
          </button>
          <button
            class="btn btn-primary float-right"
          
            (click)="selectItemToEdit(text.Id)"
          >
            Edit
          </button>

        </div>
          <!-- Id -->

          <input
            name="Id"
            type="hidden"
            #TextId="ngModel"
            [(ngModel)]="text.Id"
          />

          <!-- Text Id -->
          <input
            name="TextId"
            type="hidden"
            #TextId="ngModel"
            [(ngModel)]="text.TextId"
          />

          <!-- Text Body -->

          <div *ngIf="text.TextBody">
            <label>Text Body</label>
            <div class="input-group"></div>
            <input
              name="TextBody"
              #TextBody="ngModel"
              [(ngModel)]="text.TextBody"
            />
          </div>

          <!-- PageId -->

          <input
            name="PageId"
            type="hidden"
            #PageId="ngModel"
            [(ngModel)]="text.PageId"
          />

          <!-- ImageUrl -->
          <div *ngIf="text.ImageUrl">
            <label>Image Url</label>
            <div class="input-group"></div>
            <input
              name="ImageUrl"
              #ImageUrl="ngModel"
              [(ngModel)]="text.ImageUrl"
            />
            <div class="input-group-append"></div>
          </div>

          <!-- Youtube Embed -->
          <div *ngIf="text.embedUrl">
            <label>Embed Url</label>
            <div class="input-group"></div>
            <input
              name="embedUrl"
              #embedUrl="ngModel"
              [(ngModel)]="text.embedUrl"
            />
            <div class="input-group-append"></div>

           


          </div>
        
          


       
          
  

  
