.card-body {
  background-color: #27293d;
}

.container-fluid {
  background-color: #1e1e2f;
}

.btn-primary {
  background-color: #01d0b0;
}

.btn-primary:hover {
  background-color: #3ad3bc;
}

.btn-danger {
  background-color: #1f8ef1;
}

.btn-danger:hover {
  background-color: #439eee;
}
