<p>page-settings works!</p>

  <!-- New Upload File Form -->
  <div class="card" style="width: 25rem">
    <div class="card-body">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="text-center">
          <img
            [src]="imgSrc"
            width="350px"
            height="350px"
            (click)="fileUploader.click()"
          />
        </div>
        <div class="form-group">
          <label>Select file to upload.</label>
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            #fileUploader
            formControlName="imageUrl"
            (change)="showPreview($event)"
          />
          <div
            class="text-danger"
            *ngIf="isSubmitted && formControls.imageUrl.errors?.required"
          >
            This field is required.
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="hidden" formControlName="pageId" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success float-right">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Text body input form -->
  <div class="card">
    <div class="card-body">

      <form
        [formGroup]="textFormTemplate"
        class="form-inline"
        (submit)="submitNewTextData(textFormTemplate.value)"
      >
        <div class="form-group">
          <input
            name="TextBody"
            class="form-control-lg form-group"
            placeholder="Add Text Here"
            type="text"
            formControlName="TextBody"
          
          />
          <input
            type="hidden"
            name="PageId"
            formControlName="pageId"
     
          />
        </div>
      </form>
    </div>
  </div>

  <!-- Image Url input form -->
  <div class="card">
    <div class="card-body">

      <form
        [formGroup]="imageUrlFormTemplate"
        class="form-inline"
        (submit)="submitImageUrlData(imageUrlFormTemplate.value)"
      >
        <div class="form-group">
          <input
            name="imageUrl"
            class="form-control-lg form-group"
            placeholder="Add Url Here"
            type="text"
            formControlName="imageUrl"
          
          />
          <input
            type="hidden"
            name="PageId"
            formControlName="pageId"
     
          />
        </div>
      </form>
    </div>
  </div>

  

  
