<p>Text Box Style Settings:</p>

<form #form="ngForm" (submit)="onTextBoxOneSubmit(form)">
  <!-- id:  Note*  Form has to have an Id to update. -->
  <div>
    <input
      type="hidden"
      name="Id"
      #UserID="ngModel"
      [(ngModel)]="textBoxOneService.textBoxOneFormData.Id"
    />
  </div>

  <div>
    <label>Color</label>
    <input
      name="Color"
      #Color="ngModel"
      [(ngModel)]="textBoxOneService.textBoxOneFormData.Color"
    />
  </div>

  <div>
    <label>Font Size</label>
    <input
      name="FontSize"
      #FontSize="ngModel"
      [(ngModel)]="textBoxOneService.textBoxOneFormData.FontSize"
    />
  </div>

  <!-- <div class="form-group">
    <input
      type="submit"
      value="Save Settings"
      class="btn btn-primary btn-block"
    />
  </div> -->
</form>
