.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 601px) {
  div.responsive {
    font-size: 80px;
  }
}

ng-template {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
}

img.background {
  background-color: rgba(brown, 0.9);
}

img {
  top: 0;
  width: 100%;
  background-color: transparent;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

/* .div {
  border-style: "dashed";
  height: "auto";
  width: "auto";
  border-color: "red";
} */
/* .customImage {
  /* position: relative; */
/* background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; */
/* background-size: cover; */
/* height: 1000px;
  width: 100%; */
/* }  */

/*  */
