<app-navbar></app-navbar>
<div style="height: 84px"></div>

<!-- Resize images field -->
<div class="container-fluid" *ngIf="resizeButtonToggled">
  <div
    class="row"
    *ngFor="let webContent of this.webContentService.webContentArray"
  >
    <div
      *ngIf="webContent.ImageUrl != null"
      id="resize-div"
      [ngStyle]="{
        float: 'left',

        backgroundAttachment: webContent.backgroundAttachment,
        backgroundRepeat: 'no-repeat',
        backgroundSize: webContent.backgroundSize,
        position: webContent.position,
        opacity: webContent.opacity,
        backgroundPosition: webContent.backgroundPosition,
        resize: 'both',
        overflow: 'auto',
        height: webContent.height + 'px',
        width: webContent.width + 'px',
        objectFit: 'cover',
        transform:
          'translate3d(' +
          webContent.left +
          'px,' +
          webContent.top +
          'px,' +
          '0px)'
      }"
      class="col"
    >
      <app-resizable-draggable
        [webContent]="webContent"
        [width]="300"
        [height]="150"
        [left]="0"
        [top]="-50"
      >
      </app-resizable-draggable>
    </div>
  </div>
</div>

<!-- Hero image field (Parallax, cover, fixed) -->
<body style="background-color: #27293d">
  <div class="container-fluid">
    <!-- Foreach row on specified page -->

    <!-- For all the rows that are tied to this page id... -->

    <app-row-view></app-row-view>
  </div>
  <button class="btn btn-info" (click)="resizeToggled()">Resize Images</button>
</body>
