<!-- <div #autoscroll class="wrapper"></div>

<div
  class="dragula_container"
  dragula="DRAGULA_CONTAINER"
  [(dragulaModel)]="characters"
>
  <div *ngFor="let character of characters">
    <div class="character">
      {{ character.firstName }}
    </div>
  </div>
</div>

<div #autoscroll2 class="scrollable-wrapper">
  <div
    class="dragula_container"
    dragula="DRAGULA_CONTAINER"
    [(dragulaModel)]="selectedCharacters"
  >
    <div *ngFor="let character of selectedCharacters">
      <div class="character">
        {{ character.firstName }}
      </div>
    </div>
  </div>
</div> -->

<div id="list-container">
  <ul [dragula]="'VAMPIRES'" id="left" type="1">
    <li>Text</li>
    <li>Image</li>
    <li>Button</li>
    <li>Audio</li>
    <li>Video</li>
  </ul>
</div>
<div class="container-fluid">
  <div>
    <div class="row">
      <div
        [dragula]="'VAMPIRES'"
        style="border-style: solid; border-color: black"
        id="right"
        class="col-3"
      ></div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/dragula@3.7.2/dist/dragula.js"></script>
<script src="https://unpkg.com/dom-autoscroller@2.2.3/dist/dom-autoscroller.js"></script>
