<div id="editModeNav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeEditMode()"
    >&times;</a
  >
  <ul class="mainlinks">
    <div id="list-container">
      <h1>FEATURES</h1>
      <div
        [dragula]="'FEATURES'"
        id="left"
        type="1"
        [(dragulaModel)]="features"
      >
        <div *ngFor="let feature of features">
          <h2>{{ feature.text }}</h2>
          <h2>{{ feature.image }}</h2>
          <h2>{{ feature.audio }}</h2>
          <h2>{{ feature.video }}</h2>
        </div>
      </div>
      <h1>STRUCTURES</h1>
      <div [dragula]="'ROWS'" id="left" type="1" [(dragulaModel)]="rows">
        <div>
          <h2>Row</h2>
        </div>
      </div>
    </div>
  </ul>
</div>

<button (click)="openEditMode()">EDIT MODE</button>

<script src="https://unpkg.com/dragula@3.7.2/dist/dragula.js"></script>
<script src="https://unpkg.com/dom-autoscroller@2.2.3/dist/dom-autoscroller.js"></script>
