<div id="list-container">
  <ul *ngFor="let tool of toolbox" [dragula]="'VAMPIRES'" id="left" type="1">
    <li>{{ tool.feature }}</li>
  </ul>
</div>
<div class="container-fluid">
  <div>
    <div class="row">
      <div
        [dragula]="'VAMPIRES'"
        style="border-style: solid; border-color: black"
        id="right"
        class="col-3"
      ></div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/dragula@3.7.2/dist/dragula.js"></script>
<script src="https://unpkg.com/dom-autoscroller@2.2.3/dist/dom-autoscroller.js"></script>
