/* .wrapper {
  width: 25%;
  height: 25%;
  text-align: center;
}

.dragula_container {
  height: 100%;
  width: 200px;
  display: inline-block;
}

.character {
  padding: 10px;
  background: white;
  margin: 5px;
  border: grey solid 2px;
  width: 100%;
}

body {
  background-color: #555;
}
#list-container {
  background-color: lightBlue;
  cursor: default;
  overflow-y: auto;
  height: 100px;
  padding: 10px;
}
#list {
  padding: 10px;
  margin: 10px;
}
#container2 {
  background-color: lightGreen;
  cursor: default;
  overflow-x: auto;
  width: 250px;
  padding: 20px;
  white-space: nowrap;
}
#hlist {
  padding: 10px;
  margin: 10px;
}
#hlist li {
  display: inline;
}

.scrollable-wrapper {
  width: 50%;
  height: 100%;
  text-align: center;
  overflow-y: auto;
}

.float-left {
  float: left;
}

.dragula_container {
  height: 100%;
  width: 200px;
  display: inline-block;
} */

body {
  background-color: #555;
}
#list-container {
  background-color: lightBlue;
  cursor: pointer;
  /* overflow-y: auto; */
  height: 200px;
  padding: 10px;
}
#list {
  padding: 10px;
  margin: 10px;
}
#container2 {
  background-color: lightGreen;
  cursor: pointer;
  /* overflow-x: auto; */
  /* width: 250px; */
  padding: 20px;
  /* white-space: nowrap; */
}
#hlist {
  padding: 10px;
  margin: 10px;
}

#ilist {
  padding: 10px;
  margin: 10px;
}
