<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="date"><b>January 4th, 2021</b></h1>
      <h2 class="heading">Happy New Year!!!</h2>

      <h3 class="heading"><b>News page added!</b></h3>
      <p class="content">
        We wanted to create a way to keep you in the know. Here, we will
        announce when new features are added or updated, along with any bug
        fixes that needed to take place.
      </p>

      <p class="content">
        Additionally, we will add instructions and developer notes for new
        features or feature re-works.
      </p>
      <br />
      <h3 class="heading"><b>New icons feature updated!</b></h3>

      <p class="content">
        We changed the way our icons feature works. Click to add an icon and use
        the dropdown to select the desired social media. Then use the edit
        settings menu to adjust the font size.
      </p>
      <br />
      <p class="content"><i>Developer Notes:</i></p>

      <p class="content">
        <i
          >The original Icon feature did not have a way of changing the color at
          first, we had to find a new approach to make this possible so that
          users with dark backgrounds could have more visible icons.
        </i>
      </p>
    </div>
  </div>
</div>
