<div class="container news-body">
  <!-- Mar 15th -->
  <div class="row">
    <div class="col-12">
      <h1 class="date"><b>March,15th 2021</b></h1>

      <br />
      <br />

      <!-- Section Begin -->
      <h3 class="heading"><b>SubPages!</b></h3>
      <p class="content">
        You now will have the ability to create subpages! Just go into your page
        settings and on your desired page, select "Add sub page", give it a name
        and publish it when you're ready. After publishing it, you will see in
        your navigation bar when hovering over the page. NOTE: You can only
        create up to five pages deep. An example for that would be "Store" >
        "Products" > "Fruit" > "Apples" > "Granny Smith Apple".
      </p>

      <br />

      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        This was a huge goal of mine to be able to offer you all an option to
        create subpages. We recognize that most thriving websites contained this
        feature and we wanted your websites to be no different. So after (many)
        hours of working at it, I feel like this will take your websites to a
        whole new level.
      </p>
      <!-- Section end -->

      <!-- Section Begin -->
      <h3 class="heading"><b>Side Nav bar added!</b></h3>
      <p class="content">
        You may have noticed that we changed the mobile navigation menu. This
        was at first to create a structure for the subpages to work in, however
        we like it so much we decided to keep it on the desktop as a side
        navigation bar. Just click on the icon in the upper left hand corner of
        the screen.
      </p>

      <br />

      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        As I said, I was originally working on the subpages and how I could
        allow visitors to easily navigate through the sub pages, I found this
        side nav feature to be a great solution and addition to the web building
        platform.
      </p>
      <!-- Section end -->

      <!-- Section Begin -->
      <h3 class="heading"><b>And finally...Animation!</b></h3>
      <p class="content">
        You now have the ability to create new animations for your images and
        text. You will see in the styling section a new tab called "pre built
        animations" This is for your convenience. Simply click on an animation
        preset and see how it transforms your text or images. Here's something
        to try: Add a hyperlink to an image, set it to 400x400px and add the
        animation "Pulse". You've just created a very cool button.
      </p>

      <br />

      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        This was another desire of mine, to make your pages more fluid and come
        alive for your web page visitors. This was also alot of fun to browse
        through the individual animations and get new ideas of how to transform
        your websites into an experience your visitors will be telling their
        friends about.
      </p>
      <!-- Section end -->
      <h3 class="heading"><b>This concludes our update.</b></h3>
      <p class="content">
        Enjoy the new features! There are alot more of them in the works!
      </p>
      <br />

      <p>-Mike</p>
    </div>
    <br />
    <br />
    <br />
  </div>

  <!-- Feb 10th -->
  <div class="row">
    <div class="col-12">
      <h1 class="date"><b>February 10th, 2021</b></h1>

      <br />
      <br />

      <h3 class="heading"><b>Tooltips added!</b></h3>
      <p class="content">
        We have added tooltips in the style settings. If you are confused about
        what a setting means or how to use it, hover over the question mark icon
        to learn more.
      </p>

      <br />

      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        I realize that sometimes when it comes to programming I can speak in a
        foriegn language, but it doesn't mean everyone else does. I wanted to
        give our clients the resources to be able to use the style settings with
        confidence. I am hoping that with these settings explained, life will be
        much easier when it comes to styling.
      </p>
    </div>
    <br />
    <br />
    <br />
  </div>
  <div class="row">
    <br />
    <br />
    <br />
    <div class="col-12">
      <h1 class="date"><b>January 17th, 2021</b></h1>
      <br />
      <br />

      <h3 class="heading"><b>First off: We changed our news page.</b></h3>
      <br />
      <p class="content">
        Instead of the news being a modal, we changed it to a seperate page.
      </p>
      <br />

      <p class="dev-notes">Developer Notes:</p>
      <p class="dev-notes">
        We were having some issues with our news being a pop-up modal. Some
        images were actually completely covering the news text, essentially
        making it pointless.
      </p>

      <br />
      <h3 class="heading">
        <b
          >We did alot of behind the scenes work, you probably won't even
          notice.</b
        >
      </h3>
      <p class="dev-notes">Developer Notes:</p>
      <p class="dev-notes">
        Without boring you with too many of the details, we changed the way the
        website is structured. In order for the platform to support multiple
        clients, we linked everyones created content and pages specific to their
        URL address. This means that you should never browse your own website
        and find something that you didn't make. This was incredibly important
        to the growth of our company.
      </p>

      <br />
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-12">
      <h1 class="date"><b>January 4th, 2021</b></h1>

      <h2 class="date">Happy New Year!!!</h2>

      <br />
      <br />

      <h3 class="heading"><b>News page added!</b></h3>
      <p class="content">
        We wanted to create a way to keep you in the know. Here, we will
        announce when new features are added or updated, along with any bug
        fixes that needed to take place.
      </p>

      <p class="content">
        Additionally, we will add instructions and developer notes for new
        features or feature re-works.
      </p>
      <br />
      <h3 class="heading"><b>New icons feature updated!</b></h3>

      <p class="content">
        We changed the way our icons feature works. Click to add an icon and use
        the dropdown to select the desired social media. Then use the edit
        settings menu to adjust the font size.
      </p>
      <br />
      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        The original Icon feature did not have a way of changing the color at
        first, we had to find a new approach to make this possible so that users
        with dark backgrounds could have more visible icons.
      </p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <!-- ----------------------------------------------- -->
</div>
