<div class="container news-body">
  <div class="row">
    <div class="col-12">
      <h1 class="date"><b>February 10th, 2021</b></h1>

      <br />
      <br />

      <h3 class="heading"><b>Tooltips added!</b></h3>
      <p class="content">
        We have added tooltips in the style settings. If you are confused about
        what a setting means or how to use it, hover over the question mark icon
        to learn more.
      </p>

      <br />

      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        I realize that sometimes when it comes to programming I can speak in a
        foriegn language, but it doesn't mean everyone else does. I wanted to
        give our clients the resources to be able to use the style settings with
        confidence. I am hoping that with these settings explained, life will be
        much easier when it comes to styling.
      </p>
    </div>
    <br />
    <br />
    <br />
  </div>
  <div class="row">
    <br />
    <br />
    <br />
    <div class="col-12">
      <h1 class="date"><b>January 17th, 2021</b></h1>
      <br />
      <br />

      <h3 class="heading"><b>First off: We changed our news page.</b></h3>
      <br />
      <p class="content">
        Instead of the news being a modal, we changed it to a seperate page.
      </p>
      <br />

      <p class="dev-notes">Developer Notes:</p>
      <p class="dev-notes">
        We were having some issues with our news being a pop-up modal. Some
        images were actually completely covering the news text, essentially
        making it pointless.
      </p>

      <br />
      <h3 class="heading">
        <b
          >We did alot of behind the scenes work, you probably won't even
          notice.</b
        >
      </h3>
      <p class="dev-notes">Developer Notes:</p>
      <p class="dev-notes">
        Without boring you with too many of the details, we changed the way the
        website is structured. In order for the platform to support multiple
        clients, we linked everyones created content and pages specific to their
        URL address. This means that you should never browse your own website
        and find something that you didn't make. This was incredibly important
        to the growth of our company.
      </p>

      <br />
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-12">
      <h1 class="date"><b>January 4th, 2021</b></h1>

      <h2 class="date">Happy New Year!!!</h2>

      <br />
      <br />

      <h3 class="heading"><b>News page added!</b></h3>
      <p class="content">
        We wanted to create a way to keep you in the know. Here, we will
        announce when new features are added or updated, along with any bug
        fixes that needed to take place.
      </p>

      <p class="content">
        Additionally, we will add instructions and developer notes for new
        features or feature re-works.
      </p>
      <br />
      <h3 class="heading"><b>New icons feature updated!</b></h3>

      <p class="content">
        We changed the way our icons feature works. Click to add an icon and use
        the dropdown to select the desired social media. Then use the edit
        settings menu to adjust the font size.
      </p>
      <br />
      <p class="dev-notes">Developer Notes:</p>

      <p class="dev-notes">
        The original Icon feature did not have a way of changing the color at
        first, we had to find a new approach to make this possible so that users
        with dark backgrounds could have more visible icons.
      </p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <!-- ----------------------------------------------- -->
</div>
