.news-body {
  background-color: #27293d;
  text-align: center;
}
.date {
  text-align: center;
  color: #3ad3bc;
}

.heading {
  font-size: 22px;
  text-align: center;
  color: #007bff;
}

.content {
  font-size: 18px;
  text-align: center;
  color: #f6f6f6;
}

.dev-notes {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  color: #d94fd2;
}
