<div>
  <img
    src="{{ webContent.ImageUrl }}"
    #box
    class="resizable-draggable"
    [style.width.px]="width"
    [style.height.px]="height"
    [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)'"
    [class.active]="status === 1 || status === 2"
    (mousedown)="setStatus($event, 2)"
    (window:mouseup)="setStatus($event, 0)"
  />
  <button class="resize-action" (mousedown)="setStatus($event, 1)">
    Resize
  </button>
  <button class="resize-move" (mousedown)="setStatus($event, 2)">Move</button>
  <span>{{ width | number: "1.0-0" }}px</span>
  <span>{{ height | number: "1.0-0" }}px</span>
  <span>({{ left }}, {{ top }})</span>
  <div
    class="save-changes btn btn-primary"
    (click)="
      onImageSubmit(
        width,
        height,
        left,
        top,
        webContent.ImageUrl,
        webContent.Id
      )
    "
  >
    Save Changes
  </div>
</div>
