<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div>
    <!-- <button
      (click)="goBack()"
      class="btn btn-sm btn-outline-secondary back-button"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-arrow-left"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        />
      </svg>
      Back
    </button> -->
  </div>

  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <!-- <li class="nav-item">
        <a class="nav-link active" href="#">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          (click)="openPageSettings()"
        >
          <span data-feather="file"></span>
          Page Settings
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          (click)="openNavBarSettings()"
        >
          <span data-feather="file"></span>
          NavBar Settings
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          [routerLink]="['edit-page']"
        >
          <span data-feather="file"></span>
          General Settings
        </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Main Pages</span>
    </h6>
    <div *ngFor="let page of customPageService.customPageArray">
      <div class="nav-item">
        <ul
          style="cursor: pointer"
          (click)="mainPageNav(page.PageDescription, page.PageId)"
          class="nav-link"
        >
          {{
            page.PageDescription
          }}
          <button
            type="button"
            class="btn btn-sm embed-button float-right"
            (click)="dashboardMainNav(page.PageDescription, page.PageId)"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-pencil"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              />
            </svg>
          </button>
        </ul>
      </div>
    </div>
    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Sub Pages</span>
    </h6>
    <div *ngFor="let subPage of subPageService.subPageArray">
      <div class="nav-item">
        <ul
          style="cursor: pointer"
          (click)="
            subPageNav(
              subPage.PageDescription,
              subPage.PageId,
              subPage.SubPageDescription,
              subPage.SubPageId
            )
          "
          class="nav-link"
        >
          {{
            subPage.SubPageDescription
          }}
          <button
            type="button"
            class="btn btn-sm embed-button float-right"
            (click)="
              dashboardSubNav(
                subPage.PageDescription,
                subPage.PageId,
                subPage.SubPageDescription,
                subPage.SubPageId
              )
            "
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-pencil"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              />
            </svg>
          </button>
        </ul>
      </div>
    </div>
  </div>
</nav>
