.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  height: 100%;
  background-color: #292929;
}

.checkbox {
  color: #88bdbc;
}

.h3 {
  color: #88bdbc;
}

.bi-person-circle {
  color: #88bdbc;
}

.container-fluid {
  background-color: #292929;
  height: 100%;
  width: 100%;
}

.btn-primary {
  background-color: #88bdbc;
}

.btn-primary:hover {
  background-color: #addbdb;
}
