<div class="container-fluid" style="height: 100%">
  <div class="container">
    <a routerLink="/login" class="btn btn-primary btn-sm mb-3">Back</a>
    <body class="text-center">
      <form class="form-signin">
        <svg
          width="5em"
          height="5em"
          viewBox="0 0 16 16"
          class="bi bi-person-circle"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
          />
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          <path
            fill-rule="evenodd"
            d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
          />
        </svg>
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <!-- <div ngFor="let data of userService.userArray">
          <h1>{{ data.Id }}</h1>
        </div> -->
        <h1></h1>

        <!-- Id -->
        <form #form="ngForm">
          <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="user.Id" />
          <br />

          <!-- First Name -->
          <label style="color: white" data-error="Required field!"
            >First Name</label
          >
          <input
            style="background-color: #e6e6fa"
            type="text"
            class="validate form-control"
            required
            name="FirstName"
            #FirstName="ngModel"
            [(ngModel)]="user.FirstName"
          />
          <br />

          <!-- Last Name -->
          <label style="color: white" data-error="Required field!"
            >Last Name</label
          >
          <input
            style="background-color: #e6e6fa"
            type="text"
            class="validate form-control"
            required
            name="LastName"
            #LastName="ngModel"
            [(ngModel)]="user.LastName"
          />
          <br />

          <!-- Email Address -->
          <label style="color: white" data-error="Required field!"
            >Email Address</label
          >
          <input
            style="background-color: #e6e6fa"
            type="email"
            class="validate form-control"
            required
            name="EmailAddress"
            #EmailAddress="ngModel"
            [(ngModel)]="user.EmailAddress"
          />
          <br />
          <!-- Organization -->
          <label style="color: white" data-error="Required field!"
            >Organization</label
          >
          <input
            style="background-color: #e6e6fa"
            type="text"
            class="validate form-control"
            required
            name="Organization"
            #Organization="ngModel"
            [(ngModel)]="user.Organization"
          />
          <br />

          <!-- Username -->
          <label style="color: white" data-error="Required field!"
            >Username</label
          >
          <input
            style="background-color: #e6e6fa"
            type="text"
            class="validate form-control"
            required
            name="Username"
            #Username="ngModel"
            [(ngModel)]="user.Username"
          />
          <br />
          <!-- Password -->
          <label style="color: white" data-error="Required field!"
            >Password</label
          >
          <input
            style="background-color: #e6e6fa"
            type="password"
            class="validate form-control"
            required
            name="Hash"
            #Hash="ngModel"
            [(ngModel)]="user.Hash"
          />
          <br />
          <button
            [disabled]="!form.valid"
            class="btn btn-lg btn-primary btn-block"
            (click)="onSubmit(form)"
          >
            Submit
          </button>
        </form>

        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p> -->
      </form>
    </body>
  </div>
</div>
