<app-navbar></app-navbar>

<div class="general" [ngStyle]="myGeneralSettings">
  <div *ngFor="let item of service.webContentList">
    <h1 [ngStyle]="myHeader" (click)="populateForm(item)">
      {{ this.service.formData.Header }}
    </h1>

    <img
      src="{{ this.service.formData.HeroImageURL }}"
      [ngStyle]="myHeroImage"
      class="parallax"
      (click)="populateForm(item)"
    />

    <!-- need to change this to myTextBoxOne -->
    <div class="container">
      <p [ngStyle]="myTextBox">{{ this.service.formData.Textbox1 }}</p>
    </div>

    <div class="container">
      <p [ngStyle]="myTextBoxTwo">{{ this.service.formData.Textbox2 }}</p>
    </div>

    <img
      src="{{ this.service.formData.GalleryImageURL }}"
      [ngStyle]="myGalleryImage"
      (click)="populateForm(item)"
    />
  </div>

  <!-- <div>
    <button
      (click)="onDelete(item.UserID)"
      class="btn btn-sm btn-outline-danger"
    >
      Delete
    </button>
    <button (click)="populateForm(item)" class="btn btn-sm btn-outline-primary">
      Edit
    </button>
  </div>
</div> -->

  <div class="container">
    <form #form="ngForm" (submit)="onSubmit(form)">
      <div>
        <input
          type="hidden"
          name="UserID"
          #UserID="ngModel"
          [(ngModel)]="service.formData.UserID"
        />
      </div>

      <div class="form-group">
        <label>Header Image URL</label>
        <input
          name="HeroImageURL"
          #HeroImageURL="ngModel"
          [(ngModel)]="service.formData.HeroImageURL"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Header</label>
        <input
          name="Header"
          #Header="ngModel"
          [(ngModel)]="service.formData.Header"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Text Box</label>
        <input
          name="Textbox1"
          #Textbox1="ngModel"
          [(ngModel)]="service.formData.Textbox1"
          class="form-control"
        />
      </div>

      <app-textbox></app-textbox>

      <div class="form-group">
        <label>Text Box 2</label>
        <input
          name="Textbox2"
          #Textbox1="ngModel"
          [(ngModel)]="service.formData.Textbox2"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Secondary Image URL</label>
        <input
          name="GalleryImageURL"
          #GalleryImageURL="ngModel"
          [(ngModel)]="service.formData.GalleryImageURL"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <input
          type="submit"
          value="Save Changes"
          class="btn btn-primary btn-block"
        />
      </div>
    </form>
  </div>
</div>
