<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Edit Text Settings</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="container">
      <button
        (click)="customPageComponent.toggleAddButton()"
        class="alignRight"
        id="bt"
      >
        +
      </button>
    </div>
  </div>

  <ng-container>
    <div>
      <p>"Add Text"</p>

      <form #f="ngForm" (submit)="customPageComponent.submitNewTextData(f)">
        <input
          name="TextBody"
          type="text"
          #TextBody="ngModel"
          [(ngModel)]="customTextService.textFormData"
        />
      </form>
    </div>
    <div
      *ngFor="let text of customPageComponent.textByPageIdArray; let i = index"
    >
      <div class="modal-body">
        <form
          #form="ngForm"
          (submit)="customPageComponent.onSubmit(form)"
          id="myForm"
        >
          <div class="input-group"></div>

          <!-- Text Id -->
          <input
            name="TextId"
            type="hidden"
            #TextId="ngModel"
            [(ngModel)]="text.TextId"
          />
          <div class="input-group-append"></div>

          <!-- Text Body -->

          <label>Text Body</label>
          <div class="input-group"></div>
          <input
            name="TextBody"
            #TextBody="ngModel"
            [(ngModel)]="text.TextBody"
          />
          <div class="input-group-append"></div>

          <!-- PageId -->

          <div class="input-group"></div>
          <input
            name="PageId"
            type="hidden"
            #PageId="ngModel"
            [(ngModel)]="text.PageId"
          />
          <div class="input-group-append"></div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </ng-container>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Edit Text
</button>

<hr />

<pre>{{ closeResult }}</pre>
