<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Edit Page</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <app-custom-page-modal></app-custom-page-modal>
  <app-edit-content-modal></app-edit-content-modal>

  <!-- New Upload File Form -->
  <div class="card" style="width: 25rem">
    <div class="card-body">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <div class="text-center">
          <img
            [src]="imgSrc"
            width="350px"
            height="350px"
            (click)="fileUploader.click()"
          />
        </div>
        <div class="form-group">
          <label>Select file to upload.</label>
          <input
            type="file"
            accept="image/*"
            class="form-control-file"
            #fileUploader
            formControlName="imageUrl"
            (change)="showPreview($event)"
          />
          <div
            class="text-danger"
            *ngIf="isSubmitted && formControls.imageUrl.errors?.required"
          >
            This field is required.
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="hidden" formControlName="pageId" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success float-right">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <ng-container>
    <div class="card">
      <div class="card-body">
        <form
          #f="ngForm"
          class="form-inline"
          (submit)="customPageComponent.submitNewTextData(f)"
        >
          <div class="form-group">
            <input
              name="TextBody"
              class="form-control-lg form-group"
              placeholder="Add Text/URL Here"
              type="text"
              #TextBody="ngModel"
              [(ngModel)]="webContentService.formData"
            />
            <input
              type="hidden"
              name="PageId"
              #PageId="ngModel"
              [(ngModel)]="customPageComponent.pageIdSnapshot"
            />
          </div>
        </form>
      </div>
    </div>
    <div
      *ngFor="let text of this.webContentService.webContentArray; let i = index"
    >
      <div class="input-group"></div>
      <div class="modal-body form-group">
        <form
          #form="ngForm"
          (submit)="customPageComponent.onSubmit(form)"
          id="myForm"
        >
          <!-- Id -->

          <input
            name="Id"
            type="hidden"
            #TextId="ngModel"
            [(ngModel)]="text.Id"
          />

          <!-- Text Id -->
          <input
            name="TextId"
            type="hidden"
            #TextId="ngModel"
            [(ngModel)]="text.TextId"
          />

          <!-- Text Body -->

          <div *ngIf="text.TextBody">
            <label>Text Body</label>
            <div class="input-group"></div>
            <input
              name="TextBody"
              #TextBody="ngModel"
              [(ngModel)]="text.TextBody"
            />
          </div>

          <!-- PageId -->

          <input
            name="PageId"
            type="hidden"
            #PageId="ngModel"
            [(ngModel)]="text.PageId"
          />

          <!-- ImageUrl -->
          <div *ngIf="text.ImageUrl">
            <label>Image Url</label>
            <div class="input-group"></div>
            <input
              name="ImageUrl"
              #ImageUrl="ngModel"
              [(ngModel)]="text.ImageUrl"
            />
            <div class="input-group-append"></div>
          </div>

          <!-- YouTube Embed -->
          <div *ngIf="text.imageUpload">
            <label>YouTube Embed Link</label>
            <div class="input-group"></div>
            <input
              name="imageUpload"
              #ImageUpload="ngModel"
              [(ngModel)]="text.imageUpload"
            />
            <div class="input-group-append"></div>
          </div>

          <!-- --------------------------------------------------------------------------- -->
        </form>

        <button
          class="btn btn-danger float-right"
          (click)="deleteDialogue(text.Id)"
        >
          Delete
        </button>
        <button
          class="btn btn-primary float-right"
          (click)="openContentEditor(contentEditor)"
          (click)="selectItemToEdit(text.Id)"
        >
          Edit
        </button>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-container>
</ng-template>

<!-- Content editor modal template -->
<ng-template #contentEditor let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Edit Content</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="container">
    <div class="card">
      <div *ngFor="let content of this.webContentService.webContentByIdArray">
        <div class="modal-body form-group">
          <form
            #form="ngForm"
            (submit)="customPageComponent.onEditSubmit(form)"
            id="myForm"
          >
            <!-- Id -->

            <input
              name="Id"
              type="hidden"
              #Id="ngModel"
              [(ngModel)]="content.Id"
            />
            <div class="input-group-append"></div>

            <!-- Page Id -->

            <input
              name="PageId"
              type="hidden"
              #PageId="ngModel"
              [(ngModel)]="content.PageId"
            />
            <div class="input-group-append"></div>

            <!-- Text Body -->

            <input
              name="TextBody"
              type="hidden"
              #TextBody="ngModel"
              [(ngModel)]="content.TextBody"
            />
            <div class="input-group-append"></div>

            <!-- Font Size -->
            <label><b>Font Size</b></label>
            <input
              name="fontSize"
              #fontSize="ngModel"
              [(ngModel)]="content.fontSize"
            />
            <div class="input-group-append"></div>

            <!-- Color -->

            <label><b>Color</b></label>
            <input name="color" #color="ngModel" [(ngModel)]="content.color" />
            <div class="input-group-append"></div>

            <!-- Height -->
            <label><b>Height</b></label>
            <input
              name="height"
              #height="ngModel"
              [(ngModel)]="content.height"
            />
            <div class="input-group-append"></div>

            <!-- Width -->
            <label><b>Width</b></label>
            <input name="width" #width="ngModel" [(ngModel)]="content.width" />
            <div class="input-group-append"></div>

            <!-- Text Align -->
            <label><b>Text Align</b></label>
            <input
              name="textAlign"
              #textAlign="ngModel"
              [(ngModel)]="content.textAlign"
            />
            <div class="input-group-append"></div>
            <!-- Position -->
            <label><b>Position</b></label>
            <input
              name="position"
              #position="ngModel"
              [(ngModel)]="content.position"
            />
            <div class="input-group-append"></div>

            <!-- Line Height -->
            <label><b>Line Height</b></label>
            <input
              name="lineHeight"
              #lineHeight="ngModel"
              [(ngModel)]="content.lineHeight"
            />
            <div class="input-group-append"></div>

            <!-- Box Shadow -->
            <label><b>Box Shadow</b></label>
            <input
              name="boxShadow"
              #boxShadow="ngModel"
              [(ngModel)]="content.boxShadow"
            />
            <div class="input-group-append"></div>
            <!-- Transform -->
            <label><b>Transform</b></label>
            <input
              name="transform"
              #transform="ngModel"
              [(ngModel)]="content.transform"
            />
            <div class="input-group-append"></div>

            <!-- Opacity -->
            <label><b>Opacity</b></label>
            <input
              name="opacity"
              #opacity="ngModel"
              [(ngModel)]="content.opacity"
            />
            <div class="input-group-append"></div>

            <!-- Font Family -->
            <label><b>Font Family</b></label>
            <input
              name="fontFamily"
              #fontFamily="ngModel"
              [(ngModel)]="content.fontFamily"
            />
            <div class="input-group-append"></div>

            <!-- Padding Top -->
            <label><b>Padding Top</b></label>
            <input
              name="paddingTop"
              #paddingTop="ngModel"
              [(ngModel)]="content.paddingTop"
            />
            <div class="input-group-append"></div>

            <!-- Padding Bottom -->
            <label><b>Padding Bottom</b></label>
            <input
              name="paddingBottom"
              #paddingBottom="ngModel"
              [(ngModel)]="content.paddingBottom"
            />
            <div class="input-group-append"></div>

            <!-- Padding Left -->
            <label><b>Padding Left</b></label>
            <input
              name="paddingLeft"
              #paddingLeft="ngModel"
              [(ngModel)]="content.paddingLeft"
            />
            <div class="input-group-append"></div>

            <!-- Padding Right -->
            <label><b>Padding Right</b></label>
            <input
              name="paddingRight"
              #paddingRight="ngModel"
              [(ngModel)]="content.paddingRight"
            />
            <div class="input-group-append"></div>

            <!-- Top -->
            <label><b>Top</b></label>
            <input name="top" #top="ngModel" [(ngModel)]="content.top" />
            <div class="input-group-append"></div>

            <!-- Bottom -->
            <label><b>Bottom</b></label>
            <input
              name="bottom"
              #bottom="ngModel"
              [(ngModel)]="content.bottom"
            />
            <div class="input-group-append"></div>

            <!-- Left -->
            <label><b>Left</b></label>
            <input name="left" #left="ngModel" [(ngModel)]="content.left" />
            <div class="input-group-append"></div>

            <!-- Right -->
            <label><b>Right</b></label>
            <input name="right" #right="ngModel" [(ngModel)]="content.right" />
            <div class="input-group-append"></div>

            <!-- Background Attachment -->
            <label><b>Background Attachment</b></label>
            <input
              name="backgroundAttachment"
              #backgroundAttachment="ngModel"
              [(ngModel)]="content.backgroundAttachment"
            />
            <div class="input-group-append"></div>

            <!-- Background Position -->
            <label><b>Background Position</b></label>
            <input
              name="backgroundPosition"
              #backgroundPosition="ngModel"
              [(ngModel)]="content.backgroundPosition"
            />
            <div class="input-group-append"></div>

            <!-- Background Repeat -->
            <label><b>Background Repeat</b></label>
            <input
              name="backgroundRepeat"
              #backgroundRepeat="ngModel"
              [(ngModel)]="content.backgroundRepeat"
            />
            <div class="input-group-append"></div>

            <!-- Background Size -->
            <label><b>Background Size</b></label>
            <input
              name="backgroundSize"
              #backgroundSize="ngModel"
              [(ngModel)]="content.backgroundSize"
            />
            <div class="input-group-append"></div>

            <!--------------------------------------------- form end-------------------------------------------------------------------------------- -->
          </form>
          <button
            class="btn btn-primary"
            (click)="customPageComponent.onEditSubmit(form)"
          >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Edit Page
</button>

<hr />

<pre>{{ closeResult }}</pre>
