<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Edit Text Settings</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngFor="let text of customPageComponent.textByPageIdArray">
    <div class="modal-body">
      <form #form="ngForm" (submit)="customPageComponent.onSubmit(form)">
        <div class="input-group"></div>

        <!-- Text Body -->
        <input
          name="customPageComponent.textByPageIdArray.TextId"
          type="hidden"
          #TextId="ngModel"
          [(ngModel)]="customPageComponent.textByPageIdArray[0].TextId"
        />
        <div class="input-group-append"></div>

        <label>Text Body</label>
        <div class="input-group"></div>
        <input
          name="text.TextBody"
          #TextBody="ngModel"
          [(ngModel)]="text.TextBody"
        />
        <div class="input-group-append"></div>
        <!-- Color -->
        <label>Color</label>
        <div class="input-group"></div>
        <input name="text.color" #color="ngModel" [(ngModel)]="text.color" />
        <div class="input-group-append"></div>
      </form>
    </div>
    <div class="modal-footer"></div>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
      (submit)="customPageComponent.onSubmit(form)"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Edit Text
</button>

<hr />

<pre>{{ closeResult }}</pre>
